/*GENERALE*/
body * {box-sizing: border-box;}
body {
  font-family: 'Aleo', serif, 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}
img {
  width: auto;
  max-width: 100%;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}
h1 {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 44px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
h2 {
  font-family: 'Aleo', serif;
  font-size: 30px;
  margin: 0;
}
h3 {
  font-size: 22px;
  letter-spacing: .31em;
}
.link-btn {
  width: 225px;
  height: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Aleo', serif;
  font-size: 16px;
  letter-spacing: 0.075em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #496bfe;
}
/*header*/
header {
  background: #0460a0 url("../images/header_bg.png") no-repeat 0 0;
  background-size: 100% auto;
}
.header {
  padding: 150px 0 47px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h3 {
  margin: 8px 0 25px 0;
}
.header form {
  background-color: #ffffff;
  width: 515px;
  height: 52px;
  margin-bottom: 115px;
}
.header input {
  width: 360px;
  height: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #999999;
  text-align: center;
  border: none;
}
.header .btn {
  width: 150px;
  height: 47px;
  background-color: #5474fd;
  font-family: 'Aleo', serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  margin-top: 2px;
}
.header .btn img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.scroll {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.2em;
}
/*NAVIGATION*/
.blue-bg {
  background-color: #5474fd;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  line-height: 26px;
  padding: 24px 0;
}
.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.nav {
  display: flex;
}
.nav-decor {
  font-family: 'Aleo', serif;
  font-size: 14px;
  padding-left: 45px;
}
/*CHOOSE*/
.choose {
  background: #423d3b url("../images/castle.png") no-repeat 0 0;
  background-size: 100% auto;
}
.choose-flex {
  display: flex;
  justify-content: space-between;
}
.choose-info {
  width: 541px;
  padding: 70px 0 120px 0;
}
.choose-info h2 {
  margin-bottom: 20px;
}
.choose-info p {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 20px 0 0 0;
}
.choose-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.choose-img img {
  width: 200px;
}
.choose-img img:nth-child(2) {
  align-self: flex-end;
  margin-top: 2px;
}